.ae-survey-wrapper {
	padding-top: 50px;

	.survey-info-box {
		background-color: $white-color;
		padding: 10px 25px;

		.custom-breadcrumbs{
			font: $font-med-small;
			color: #BABABA;
			span {
				color: #777777;
				margin-right: 20px;
			}
			img{
				margin-right: 20px;
			}
		}

		.survey-detail{
			width: 100%;
			margin-bottom: 50px;
			p {
				font: $font-medium;
				color: #4C4C4C;
			}

			.heading {
				font: $font-heading;
				color: #0DC3F3;
			}
			.survey-detail-box{
				border-right: 1px solid #cccccc;
			}
			.span-txt {
				font: $font-heading;
				color: #CCCCCC;
			}
		}
	}
	.nav-tabs {
    	border: none !important;
	}
	.nav-tabs > li > a {
    	border: none !important;
	}

	.tab-active {
		font: $font-med-small;
		color: #000000;
	}

	.total-weight{
		font: $font-medium-bold;
		color: #4C4C4C;
		padding: 50px 0 30px 0;
		text-align: right;
	}

	.section-box{
		border-radius: $border-radius-5;
		border: 1px solid #cccccc;
		background-color: #F1F1F1;

		.section-title{
			background-color: #1B8ECA;
			color: #ffffff;
			height: 50px;
			line-height: 50px;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;

			span{
				margin-right: 10px;
			}
			span.section-title-text{
				font: $font-large;
			}
			span.percent-wrightage{
				background-color: #F3F3F3;
				border-radius: 5px;
				padding: 10px 13px;
				color: #000;
			}
			.percent-weight {
				border: none !important;
				background-color: #F3F3F3;
				border-radius: 5px;
				padding: 10px 13px;
				width: 60px;
				height: 28px;
				font: $font-small;
				color: #4C4C4C;
				outline: none;
			}
			.arrows{
				height: 20px;
				margin-top: -6px;
			}
		}
		.section-body{

			.section-body-head{
				padding: 10px 0;

				span{
					margin-right: 10px;
				}
				span.total-weight{
					font: $font-medium-bold;
					color: #4C4C4C;
					padding: 50px 0 30px 0;
					text-align: right;
				}
			}
			.section-body-body{
				background-color: #ffffff;
				border-radius: $border-radius-5;
				border:1px solid #cccccc;
				.survey-row-branching{

				}
				.survey-row{
					height: 40px;
					line-height: 40px;
					border-bottom: 1px solid #cccccc;

					.arrows{
						height: 20px;
						margin-top: -6px;
					}

					.point-distribute-box{
				        border-radius: 5px;
					    border: 1px solid #cccccc;
					    background-color: #F1F1F1;
					    height: 30px;
					    margin-top: 5px;
					    line-height: 30px;
					    padding-right: 5px;
					}
				}
			}
			.section-body-footer{
				padding: 30px 0;

			}


		}
	}
}

.survey-questions-modal .modal-dialog {
	width: 808px;
	height: 688px;
	
	.close-btn {
		padding-top: 5px;
		float: right;
	}
	
	.modal-body{
		height: 500px;
	
		.heading {
			font: $font-large;
			color: #4C4C4C;
		}
		
		.question-section {
			font: $font-medium;
			border: 1px solid #F6F6F6;
			border-radius: 5px;
			height: 432px;
			overflow: scroll;
			background-color: #CCCCCC;
		}
		
		.radio { 
			font: $font-medium;
			font-color: #4C4C4C;
			font-weight: normal;
		}
		
		input[type="radio"] {
			margin-top: 1px;
			margin-left: -26px;
		}
		
		p {
			font: $font-med-small;
		}
		
		span {
			font: $font-small;
			color: #777777;
		}
		
		.txt-search {
			 border: 1px solid #CCCCCC;
			 font: $font-small;
			 color: #BABABA;
			 outline: none;
		}
		
	}
}


.quesGridOptions {    
	position: absolute !important;
    top: 20px;
    left: -46px;
    background-color: #fff;
    border: 1px solid #cccccc;
    width: 170px;
    height: 130px !important;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #cccccc;
    z-index:9;
    display: none;

    ul{
    	list-style: none;
    	margin: 0;
    	padding: 0;

    	li{
    		padding: 0;
    		text-align: right;
    		padding-right: 10px;
    		cursor: pointer;

    	}:hover{
    		background-color: #F7F7F7;
    	}
    }
}

.gridOptions { 
	height: 90px !important;
	line-height:28px;
} 