.survey-questiondetail-modal .modal-dialog {
	width: 808px;
	height: 688px;
	color: #4C4C4C;
	overflow-y: initial !important;
	.close-btn {
		padding-top: 5px;
		float: right;
	}
  	.modal-header{
    	font: $font-heading; 
  	}
	.modal-body{
		height: 500px;
		overflow-y: auto;
		.heading {
			font: $font-large;		
		}
		

		.txt-common{
			width: 100%;
		    border-radius: 5px;
		    border: 1px solid #cccccc;
		    height: 40px;
		    padding: 0 0 0 9px;
		}

		span.common-text{
			font : $font-small;
			color: #000000
		}

		.aligning{
		    margin-top: 10px;
    		display: block;
		}

		.custom-btn-select-option{
			border-radius:5px;
			background-color: #ffffff;
			font: $font-medium;
			color: #BABABA;
			height: 40px;
			line-height: 40px;
			width: 210px;
			text-align: left;
    		padding-left: 12px;
    		border: 1px solid #cccccc;
		}

		.custom-btn-select-option-checked{
			background-color: #1B8ECA !important;
    		border: 0 !important;
    		color: #ffffff !important;
    		
		}

		.section {
			font:$font-medium;
			padding-left: 10px !important;
			color:#777777;
			
			.heading{
				padding: 15px 0px 15px 0px;
			}
			.subsection {
				color: #4C4C4C;
				
				.type {
					font: $font-small;
				}	
				label{
					margin-top: 12px;
				}
				.custom-label {
					font:$font-small;
					color:#777777;
					font-weight: normal !important;
				}
				
				textarea {
					font: $font-medium;
					color: #4C4C4C;
					width: 720px;
					height: 110px;
					background-color: #F6F6F6;
					resize: none;
					border-radius: 5px;
					border-color: #ccc;
				}
				
				.section-detail {
					padding-top: 15px;
					
					.btn-disable {
						font: $font-medium;
						padding: 9px 10px;
						margin-right: 25px;
						color: #BABABA;
						background-color:$white-color;
						border: 1px solid #BABABA;
						border-radius:  $border-radius-5;
					}
					
					.btn-active {
						font: $font-medium;
						padding: 9px 10px;
						margin-right: 25px;
						color: $white-color;
						background-color:#1B8ECA;
						border: 1px solid #BABABA;
						border-radius:  $border-radius-5;
					}
					
					.score-section {
						margin-right: 96px;
						
						input[type="text"] {
							width: 50px;
    						height: 40px;
    						border-radius: 5px;
    						box-shadow: none;
    						font: $font-medium;
						}
					}
					
					.comment-box {
						margin-top: 30px;
						border-top: 1px solid #cccccc;
						
						input[type="text"] {
							width: 258px;
    						height: 40px;
    						border-radius: 5px;
    						box-shadow: none;
    						font: $font-medium;
    						color: #000000;
    						border: 1px solid #cccccc;
  							padding: 0 0 0 5px;
						}
						

						label{
						 font-size: 14px; 
						 color: #777777;
						}

						.btn-arrow{
							background-color: #fff;
						    border: 1px solid #cccccc;
						    border-radius: 5px;
						    color: #1b8eca;
						    margin-top: 8px;
    						margin-bottom: 7px;
						}
						
					}
	
				}					
			}
		}
		
	}
}
