@font-face {
    font-family: 'HelveticaNeue';

    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("/fonts/HelveticaNeue.ttf") format("truetype");

    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeue-Bold';

    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("/fonts/HelveticaNeue-Bold.ttf") format("truetype");

    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeue-BoldItalic';

    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("/fonts/HelveticaNeue-BoldItalic.ttf") format("truetype");

    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeue-Italic';

    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("/fonts/HelveticaNeue-Italic.ttf") format("truetype");

    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeue-Light';

    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: (url("/fonts/HelveticaNeue-Light.ttf") format("truetype"),);
}

@font-face {
    font-family: 'HelveticaNeue-Medium';

    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("/fonts/HelveticaNeue-Medium.ttf") format("truetype");

    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeue-MediumItalic';

    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("/fonts/HelveticaNeue-MediumItalic.ttf") format("truetype");

    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeue-Thin';

    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("/fonts/HelveticaNeue-Thin.ttf") format("truetype");

    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeue-ThinItalic';

    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("/fonts/HelveticaNeue-ThinItalic.ttf") format("truetype");

    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeue-UltraLight';

    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("/fonts/HelveticaNeue-UltraLight.ttf") format("truetype");

    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}

@font-face {
    font-family: 'HelveticaNeue-UltraLightItalic';

    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("/fonts/HelveticaNeue-UltraLightItalic.ttf") format("truetype");

    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}