.margintop22 {
	margin-top: 22px;
}

.paddingtop40 {
	padding-top: 40px;
}

.general-setting-textarea {
	width: 598px;
	height: 160px;
}

input[type="checkbox"].showphoto {
	margin-right: 10px
}

.form-inline {
	margin-bottom: 10px;
}

.erorOrMessage {
	background: #000000;
	opacity: 0.6;
	height: 40px;
	text-align: center;
	padding-top:10px;
 	@include font-family-medium;
}

