/* main content */

.main-content{
	padding: 86px 25px 0 25px;

	h2{
		font-family: helvetica;
		font-size: 26px;
		color: #4C4C4C;
	}

	h3{
		font-family: helvetica;
		font-size: 18px;
		color: #4C4C4C;
		border-bottom: 1px solid #cccccc;
		padding: 23px 0 21px 0;
		font-weight: bold;
	}
	h4{
	    font-size: 14px;
    	color: #000;
	}

	p{
		font-size: 14px;
		color: #777777;
		font-family: helvetica;
	}

	.content-section{
		margin: 72px 0;
		background-color: $white-color;
		border-radius: $border-radius-5;
		border:1px solid #cccccc;

		.content-heading{
			padding: 0 20px;
		}

		.content-box{
			padding: 40px 20px 70px ;

			.box-name{
				font-family: helvetica;
				font-size: 16px;
				color: #000;
			}

			.box-count{
				font-family: helvetica;
				font-size: 28px;
				color: #4C4C4C;
				font-weight: bold;
			}
		}

		.btn-section-manage{
			padding: 10px 0 0 0 ;
		}
	}
}