/* main content */

.main-content {
    padding: 86px 25px 0 25px;

    h2 {
        font: $font-heading;
        color: #4C4C4C;
    }

    h3 {
        font: $font-large-bold;
        color: #4C4C4C;
        border-bottom: 1px solid #cccccc;
        padding: 23px 0 21px 0;
    }

    h4 {
        font: $font-med-small;
        color: #000;
    }

    p {
        font: $font-med-small;
        color: #777777;
    }

    .content-section {
        margin: 72px 0;
        background-color: $white-color;
        border-radius: $border-radius-5;
        border: 1px solid #cccccc;

        .content-heading {
            padding: 0 20px;
        }

        .content-box {
            padding: 40px 20px 70px;

            .box-name {
                font: $font-medium;
                color: #4C4C4C;
            }

            .box-count {
                font-family: HelveticaNeue-Bold;
                font-size: 28px;
                color: #4C4C4C;
            }
        }

        .btn-section-manage {
            padding: 10px 0 0 0;
        }
    }
}