.grid-header{
	span{
		font-size: 14px;
		color: $heading-color-grey;
	}
}

.grid-body-masterquestion{
	background-color: $white-color;
	border: 1px solid #cccccc;
	border-radius: $border-radius-5;

	.question{
		div{
			height: 40px;
			line-height: 40px;
			border-bottom: 1px solid #cccccc;
			font-size: 14px;
			color: #4C4C4C;
			position: relative;
		}
		
	}
	:nth-last-child{
		div{
			border:0px;
		}
	}
}

.gridOptions {    
	position: absolute !important;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #cccccc;
    width: 118px;
    height: 80px !important;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #cccccc;
    display: none;

    ul{
    	list-style: none;
    	margin: 0;
    	padding: 0

    	li{
    		padding: 0;
    		text-align: right;
    		padding-right: 10px;

    	}
    }
}

.questions-modal .modal-dialog {
	width: 750px;
	.modal-body {
		padding-top: 0px;
		textarea {
			@include font-family-medium;
			color: #000000;
			width: 720px;
			height: 160px;
			background-color: #F6F6F6;
			resize: none;
			border-radius: 5px;
		}
		
		.id {
			width: 50px;
		}
	}
	.close-btn {
		padding-top: 5px;
		float: right;
	}
	
	.options {
		padding-bottom: 5px;
	}
}