.profile{
	h3{
		font-size: 18px;
		font-weight: normal;
		font-family: helvetica;
		color:#4C4C4C;
		border:0;
		padding: 23px 0 10px 0;
	}

	p{
		font-size: 14px;
		color: #777777;
		font-family: helvetica;
	}
}