.survey-box {
    width: 288px;
    height: auto;
    background-color: $white-color;
    text-align: center;
    border-radius: $border-radius-5;
    border: 1px solid #cccccc;
    float: left;
    margin-right: 19px;
    margin-bottom: 25px;

    &:nth-child(5n) {
        clear: both;
    }

    .box-head {
        background-color: #1B8ECA;
        color: #ffffff;
        text-align: center;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 7px 10px;

        h4 {
            font: $font-medium;
            margin: 0;
            color: #fff;
        }

        span {
            font: $font-small-small;
        }
    }

    .box-body {
        text-align: center;
        padding: 20px 10px 0 20px;

        p {
            font: $font-med-small;
            color: #777777;
        }
    }

    .box-footer {
        text-align: center;
        padding: 5px 10px 5px 10px;

        .edit-btn {
            float: left;
            text-align: center;
            width: 88%;
        }

        .menu-section {
            position: relative;

            .gridOptions {
                top: 27px !important;
                right: -2px !important;
                left: initial;
            }
        }
    }
}

.survey-warning-modal .modal-dialog {
    width: 310px;

    .modal-body {
        padding-top: 0px;
    }

    .close-btn {
        padding-top: 5px;
        float: right;
    }

    .options {
        padding-bottom: 5px;
    }
}