<div class="col-lg-12 no-padding margintop50 ae-survey-wrapper ng-scope" ng-controller="AddSurveyGroupsCtrlCtrl as addSurveyGroup">
<div class="erorOrMessage" ng-show="addSurveyGroup.showMessage">{{errors.SurveyOK}}</div>
	<div class="col-lg-9 no-padding">
	
	<div class="col-lg-12 survey-info-box" >	
		<div class="custom-breadcrumbs">
			<span>Surveys</span> 
			<img src="/images/ic_arrow@2x.png"> 
			<span>{{addSurveyGroup.auditGroupDef.Name}}</span>
		</div>
		<!-- survey detials -->
		<div class="col-lg-12">
			<button type="button" class='float-right main-btn-green' ng-click="addSurveyGroup.saveSurGroup()">Save</button>
		</div>
		
		<div class="col-lg-12 no-padding survey-detail" ng-show="!addSurveyGroup.editSurvey">
			<div class="col-lg-5 no-padding survey-detail-box">
				<p class="heading">{{addSurveyGroup.auditGroupDef.Name}} <span ng-if="addSurveyGroup.auditGroupDef.Name==''" class="span-txt">Enter Survey Group</span><img src="/images/ic_edit@2x.png" ng-click="addSurveyGroup.editSurvey=true"></p>
			</div>
			<div class="col-lg-3">
				<p>{{addSurveyGroup.auditGroupDef.Audits.length}} Surveys</p><p>Last Modified : {{addSurveyGroup.auditGroupDef.TouchInfo.ModifiedDate | amDateFormat:'MM/DD/YY'}}</p>		
			</div>
		</div>
		<!-- survey edit section -->
		<div class="col-lg-12 no-padding survey-detail" ng-show="addSurveyGroup.editSurvey">
			<div class="col-lg-5 no-padding survey-detail-box">
			<div class="col-lg-10">
				<p>
					<span>
						<input type="text" placeholder="Group Name" ng-model ="addSurveyGroup.auditGroupDef.Name" class="form-control" ng-change="aeSurvey.updateModel()">
					</span>
				</p>
				</div>
				<div class="col-lg-1">
			<button type="submit" class="btn btn-primary" ng-click="addSurveyGroup.editSurvey=false"><span class="glyphicon glyphicon-ok"></span></button>
			</div>	
				
			</div>
			
			<div class="col-lg-3">
				<p>{{addSurveyGroup.auditGroupDef.Audits.length}} Surveys</p><p>Last Modified : {{addSurveyGroup.auditGroupDef.TouchInfo.ModifiedDate | amDateFormat:'MM/DD/YY'}}</p>		
			</div>
		</div>		
	</div>

	<!-- survey listings -->

		<div class="col-lg-12 col-md-12 no-padding margintop50">
			<h3>Published</h3>
			<span ng-repeat="items in addSurveyGroup.auditGroupDef.Audits">
				<div class="no-padding survey-box" ng-show="item.Published != null">
					<div class="box-head clearfix">
						<h4>{{items.Name}}</h4>
						<span>{{items.SubTitle}}</span>
					</div>
					<div class="clearfix"></div>
					<div class="box-body clearfix">
						<p>{{items.QuestionCount}} Questions</p>
						<p>Last Modified : {{items.LastModified  | amDateFormat:'MM/DD/YY'}}</p>
					</div>
					<div class="box-footer clearfix">
						<div class="menu-section text-right" menu-sibling>
							<img src="/images/ic_more_@2x.png" alt="more">
							<div class="gridOptions">
								<ul>
									<li ng-click="survey.duplicate($index)">Edit</li>
									<li ng-click="survey.deleteSurvey($index)">Delete</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</span>
		</div>
		<div class="col-lg-12 col-md-12 no-padding margintop50">
			<h3>Un-Published</h3>

			<span ng-repeat="items in addSurveyGroup.auditGroupDef.Audits">
				<div class="no-padding survey-box"  ng-show="item.Published == null" >
					<div class="box-head clearfix">
						<h4>{{items.Name}}</h4>
						<span>{{items.SubTitle}}</span>
					</div>
					<div class="clearfix"></div>
					<div class="box-body clearfix">
						<p>{{items.QuestionCount}} Questions</p>
						<p>Last Modified : {{items.LastModified  | amDateFormat:'MM/DD/YY'}}</p>
					</div>
					<div class="box-footer clearfix">
						<div class="menu-section text-right" menu-sibling>
							<img src="/images/ic_more_@2x.png" alt="more">
							<div class="gridOptions">
								<ul>
									<li ng-click="survey.duplicate($index)">Edit</li>
									<li ng-click="survey.deleteSurvey($index)">Delete</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</span>

		</div>
	</div>
	<!-- side panel -->

	<div class="col-lg-3 no-padding add-survey-side-panel">
		<div class="col-lg-12 no-padding side-panel-head">
			<div class="col-lg-12 margintop20">
				<p>Select the surveys you want to add to this survey group.</p>
			</div>
			<div class="col-lg-12 margintop37">
				<p class="heading">Available Surveys</p>
			</div>
			<div class="col-lg-12 text-center margintop20 search-box">
				<input type="text" placeholder="search" class="txt-search" ng-model="query">
			</div>
		</div>
		<div ng-slimscroll  height="450" color="#FFFFFF" distance="5px">
			<div class="col-lg-12 no-padding side-panel-body">
				
				<div class="col-lg-12 survey-group-item" ng-repeat="items in addSurveyGroup.getAllAudits.Data | filter:query:strict">
					<div class="col-lg-1">
						<input type="checkbox" class="">
					</div>
					<div class="col-lg-10">
						<p class="heading">{{items.Name}}</p>
						<p>{{items.SubTitle}}
						<p>Last modified: {{items.TouchInfo.ModifiedDate  | amDateFormat:'DD/MM/YY'}}</p>
					</div>
				</div>
				
			</div>
		</div>
		<div class="col-lg-12 side-panel-footer text-center">
			<button class="main-btn-green">Add Surveys</button>
		</div>
	</div>
</div>