<div class="col-lg-12">
	<img src="/images/ic_close_@2x.png" class="close-btn" ng-click="sqdModal.cancel()">	
</div>
<div class="modal-header">
	<h3 class="modal-title">{{sqdModal.subject}}</h3>
 </div>	
<div class="modal-body">
	<h3 class="heading">Master Question</h3>
	<div class="col-lg-12 section">
		{{sqdModal.question.Text}}
		<div class="col-lg-12 subsection scroll-body">
			<p class="type">Type: <span class="custom-label">{{sqdModal.question.TypeKey}}</span></p>
			<p class="heading">Edit Question Display Text (Optional)</p>
			<p class="custom-label">Feel free to make style changes and reword the question without changing its meaning <br/>
			The question will be associated with the master question for reporting purposes</p>
			<textarea ng-model="sqdModal.question.Text"></textarea>
			<div class="section-detail">
				<label>
					<input type="checkbox" ng-model="sqdModal.question.IsRequired"><span class="custom-label" > Set Question as Required</span>
				</label>
				<!--  YESO,NO || YES,NO,N/A -->
				<div ng-if="sqdModal.question.TypeKey=='yesno' || sqdModal.question.TypeKey=='yesnona'">	
				<div class="col-lg-12 no-padding">
					<p class="heading">Set Default Response</p>
					<button ng-repeat="option in sqdModal.defaultRespList" ng-class="sqdModal.question.DefaultValue==option? 'btn-active':'btn-disable'" ng-click="sqdModal.question.DefaultValue=sqdModal.question.DefaultValue==option?null:option">{{option}}
					</button>
				</div>
				<div class="col-lg-12 no-padding">
					<p class="heading">Set Undesired Response</p>
					<button ng-repeat="option in sqdModal.undesiredRespList" ng-class="sqdModal.question.UndesireableValue==option? 'btn-active':'btn-disable'" ng-click="sqdModal.question.UndesireableValue=sqdModal.question.UndesireableValue==option?null:option">{{option}}
					</button>
				</div>
				<div class="col-lg-12 no-padding" ng-if="sqdModal.isScored">
					<p class="heading">Score Response Weight*</p>
					<span ng-repeat="option in sqdModal.responseRatioOptions" class="score-section">
				<!--<button  ng-class="option.active?'btn-active':'btn-disable'"  ng-click="option.active=!option.active">-->
				<button  ng-class="option.active?'btn-active':'btn-disable'" >
					{{option.label}}
					</button>
				<!--	<input type="text" ng-model="option.value" ng-disabled="!option.active" max="100" min="0" score-check> <span>%</span>-->
				<input type="text" ng-model="option.value" max="100" min="0" score-check> <span>%</span>
					</span>
				</div>
				</div>
				<!--  YESO,NO || YES,NO,N/A -->

				<!-- Text -->
				<div ng-if="sqdModal.question.TypeKey=='text'">
					<div class="col-lg-12 no-padding">
						<p class="heading">Set Length</p>
						<div class="col-lg-3 no-padding marginright10">
							<label>Min</label>
							<input type="text" class="txt-common" ng-model="sqdModal.question.MinResponseLength" placeholder="Enter Min" numeric>
						</div>
						<div class="col-lg-3 no-padding">
							<label>Max</label>
							<input type="text" class="txt-common" placeholder="Enter Max" ng-model="sqdModal.question.MaxResponseLength" numeric>
						</div>
					</div>

					<div class="col-lg-12 no-padding margintop20">
						<p class="heading">Set Default Response</p>
						<div class="col-lg-6 no-padding">
							<input type="text" class="txt-common" placeholder="Enter Response" ng-model="sqdModal.question.DefaultValue">
						</div>
					</div>

					<div class="col-lg-12 no-padding margintop20">
						<p class="heading">Set Undesired Response</p>
						<div class="col-lg-6 no-padding">
							<input type="text" class="txt-common" placeholder="Enter Response" ng-model="sqdModal.question.UndesireableValue">
						</div>
					</div>

					<div class="col-lg-12 no-padding margintop20"  ng-if="sqdModal.isScored">
						<p class="heading">Score Response Weight*</p>
						<div class="col-lg-5 no-padding">
							
							<div class="col-lg-3 no-padding">
								<span class="common-text aligning">Response</span>
							</div>
							<div class="col-lg-3 no-padding">
								<input type="text" class="txt-common" placeholder="100" score-check ng-model="sqdModal.responseRatioTextOptions[0].value">
							</div>
							<div class="col-lg-3 ">
								<span class="common-text aligning">%</span>
							</div>
						</div>
						<div class="col-lg-5 no-padding">
							
							<div class="col-lg-4 no-padding">
								<span class="common-text aligning">No Response</span>
							</div>
							<div class="col-lg-3 no-padding">
								<input type="text" class="txt-common" placeholder="0" score-check ng-model="sqdModal.responseRatioTextOptions[1].value">
							</div>
							<div class="col-lg-3 ">
								<span class="common-text aligning">%</span>
							</div>
						</div>
					</div>
				</div>

				<!-- Text -->

				<!-- Numeric -->
				<div ng-if="sqdModal.question.TypeKey=='numeric'">
					<div class="col-lg-12 no-padding">
						<p class="heading">Set Length</p>
						<div class="col-lg-3 no-padding marginright10">
							<label>Min</label>
							<input type="text" class="txt-common" placeholder="Enter Min" ng-model="sqdModal.question.LowerValueLimitInclusive" numeric>
						</div>
						<div class="col-lg-3 no-padding">
							<label>Max</label>
							<input type="text" class="txt-common" placeholder="Enter Max" ng-model="sqdModal.question.UpperValueLimitExclusive" numeric>
						</div>
					</div>

					<div class="col-lg-12 no-padding margintop20">
						<p class="heading">Set Default Response</p>
						<div class="col-lg-6 no-padding">
							<input type="text" class="txt-common" placeholder="Enter Number" ng-model="sqdModal.question.DefaultValue" numeric>
						</div>
					</div>

					<div class="col-lg-12 no-padding margintop20">
						<p class="heading">Set Undesired Response</p>
						<div class="col-lg-6 no-padding">
							<input type="text" class="txt-common" placeholder="Enter Number" ng-model="sqdModal.question.UndesireableValue" numeric>
						</div>
					</div>

					<div class="col-lg-12 no-padding margintop20">
						<p class="heading">Score Response Weight*</p>
						<div class="col-lg-12 margintop20" ng-repeat="item in sqdModal.weights track by $index">
						<div class="col-lg-6 no-padding marginbottom10">
							<div class="col-lg-8 no-padding">
								<select selectpicker ng-model="item.leftSelected" ng-change="item.rightDisable=item.leftSelected!='Greater than or equal to'?true:false">
								<option ng-repeat="option in item.left" value="{{option}}">{{option}}</option>
								</select>
							</div>
						</div>
						<div class="col-lg-5 no-padding marginbottom10">
							<div class="col-lg-8 no-padding">
								<select selectpicker ng-model="item.rightSelected" ng-class="item.rightDisable?'disableClass':'enableClass'" ng-disabled="item.rightDisable">
								<option ng-repeat="option in item.right" value="{{option}}">{{option}}</option>
								</select>
							</div>
						</div>
						<div class="col-lg-1">
						<a ng-click="sqdModal.weights.splice($index,1)" ng-show="$index>0">Remove</a>
						</div>

						<div class="col-lg-6 no-padding">
							<div class="col-lg-8 no-padding">
								<input type="text" class="txt-common" placeholder="Enter Number" ng-model="item.leftVal" numeric>
							</div>
						</div>
						<div class="col-lg-6 no-padding">
							<div class="col-lg-8 no-padding">
								<input type="text" class="txt-common" placeholder="Enter Number" ng-model="item.rightVal" ng-disabled="item.leftSelected!='Greater than or equal to' || item.rightSelected=='None'" ng-class="(item.leftSelected!='Greater than or equal to') || (item.rightSelected=='None')?'disableClass':'enableClass'" numeric>
							</div>
							<div class="col-lg-3">
								<input type="text" class="txt-common" placeholder="100" ng-model="item.rightRatio" score-check numeric>
							</div>

							<div class="col-lg-1 no-padding">
								<span class="common-text aligning">%</span>
							</div>
						</div>
						</div>
						<div class="col-lg-6 margintop20">
							<div class="col-lg-8">
								<a ng-click="sqdModal.weights.length<6?sqdModal.addWeigthCondition():null">Add Condition</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Numeric -->

				<!-- Select Multiple Options -->

				<div ng-if="sqdModal.question.TypeKey=='multiple'">
					
					<div class="col-lg-12 no-padding margintop20">
						<p class="heading">Set Default Response</p>
							<div class="col-lg-6 no-padding margintop10" ng-repeat="item in sqdModal.question.AllowableValues track by $index">
							<div class="col-lg-8 no-padding">
								<button ng-class="item.IsDefault?'custom-btn-select-option-checked':'custom-btn-select-option'"  ng-click="sqdModal.defMltplSelect($index);">{{item.Value}}</button>
							</div>
						</div>					
					</div>

					<div class="col-lg-12 no-padding margintop20">
						<p class="heading">Set Undesired Response</p>
						<div class="col-lg-6 no-padding margintop10" ng-repeat="item in sqdModal.question.AllowableValues">
							<div class="col-lg-8 no-padding">
								<button ng-class="item.IsUndesireable?'custom-btn-select-option-checked':'custom-btn-select-option'"  ng-click="sqdModal.undesMltplSelect($index);">{{item.Value}}</button>
							</div>
						</div>	
					</div>

				<div class="col-lg-12 no-padding margintop20"  ng-if="sqdModal.isScored">
						<p class="heading">Set Response weight*</p>
						<div class="col-lg-6 no-padding margintop10"  ng-repeat="item in sqdModal.responseRatioMultSing">
							<div class="col-lg-8 no-padding">
								<button class="custom-btn-select-option">{{item.name}}</button>
							</div>
							<div class="col-lg-3 no-padding">
								<input type="text" class="txt-common" placeholder="100" ng-model="item.val" score-check numeric>
							</div>

							<div class="col-lg-1 no-padding">
								<span class="common-text aligning">%</span>
							</div>
						</div>
					</div>
				</div>


				<!-- Select Multiple Options -->


				<!-- single -->

				<div ng-if="sqdModal.question.TypeKey=='single'">
					

					<div class="col-lg-12 no-padding margintop20">
						<p class="heading">Set Default Response</p>
							<div class="col-lg-6 no-padding margintop10" ng-repeat="item in sqdModal.question.AllowableValues track by $index">
							<div class="col-lg-8 no-padding">
								<button ng-class="item.IsDefault?'custom-btn-select-option-checked':'custom-btn-select-option'"  ng-click="sqdModal.defSingleSelect($index);">{{item.Value}}</button>
							</div>
						</div>					
					</div>

					<div class="col-lg-12 no-padding margintop20">
						<p class="heading">Set Undesired Response</p>
						<div class="col-lg-6 no-padding margintop10" ng-repeat="item in sqdModal.question.AllowableValues">
							<div class="col-lg-8 no-padding">
								<button ng-class="item.IsUndesireable?'custom-btn-select-option-checked':'custom-btn-select-option'"  ng-click="sqdModal.undesSingleSelect($index);">{{item.Value}}</button>
							</div>
						</div>	
					</div>

					<div class="col-lg-12 no-padding margintop20"  ng-if="sqdModal.isScored">
						<p class="heading">Set Response weight*</p>
						<div class="col-lg-6 no-padding margintop10"  ng-repeat="item in sqdModal.responseRatioMultSing">
							<div class="col-lg-8 no-padding">
								<button class="custom-btn-select-option">{{item.name}}</button>
							</div>
							<div class="col-lg-3 no-padding">
								<input type="text" class="txt-common" placeholder="100" ng-model="item.val" score-check numeric>
							</div>

							<div class="col-lg-1 no-padding">
								<span class="common-text aligning">%</span>
							</div>
						</div>
					</div>

				</div>


				<!-- single -->
				
				<!-- Rating -->
					<div ng-if="sqdModal.question.TypeKey=='rating'">
					<div class="col-lg-12 no-padding margintop20">
						<p class="heading">Set Default Response (Up to 5)</p>
						<div class="col-lg-6 no-padding">
							<input type="text" class="txt-common" placeholder="Enter Number" ng-model="sqdModal.question.DefaultValue" numeric>
						</div>
					</div>
					<div class="col-lg-12 no-padding margintop20">
						<p class="heading">Set Undesired Response (Up to 5)</p>
						<div class="col-lg-6 no-padding">
							<input type="text" class="txt-common" placeholder="Enter Number" ng-model="sqdModal.question.UndesireableValue" numeric>
						</div>
					</div>
					<div class="col-lg-12 no-padding margintop20" ng-if="sqdModal.isScored">
						<p class="heading">Score Resopnse Weight*</p>
						<div class="wrapper-rating col-lg-2" ng-repeat="item in [0,1,2,3,4,5]">
            				<div class="rating">
								<img src="/images/ic_star@2x.png"><span>{{item}}</span>
							</div>
						</div>
						
						<div class="col-lg-12 no-padding margintop20" >
						<div class="col-lg-2 no-padding" ng-repeat="item in sqdModal.responseRatioRating">
								<input type="text" class="txt-rating" placeholder="100" ng-model="item.val" score-check numeric>%
					
						</div>
					</div>
					</div>
					
				</div>
				
				<!-- Rating -->

				<div class="col-lg-12 comment-box no-padding">
				<p class="heading">Comments and Photos</p>

				<div class="col-lg-6 no-padding">
					<label>Enable Comments
						<switch id="enabled" name="enabled" ng-model="sqdModal.commentsSwitch" class="blue" ng-change="sqdModal.changeCommentsSwitch()">this is working</switch>
					</label>
					<br>
				</div>
				
				<div class="col-lg-6 no-padding">
					<label>Enable Photos
						<switch id="enabled2" name="enabled2" ng-model="sqdModal.imageSwitch" class="blue" ng-change="sqdModal.changeImageSwitch()">this is working</switch>
					</label>
					<br>
				</div>
				
				<div class="col-lg-6 no-padding">
					<div class="col-lg-12 no-padding"  ng-show="sqdModal.commentsSwitch">
						<label class="custom-label">Text Hint</label><br/>
						<input type="text" placeholder="Enter Hint" ng-model="sqdModal.question.CommentHint">
					</div>
					<div class="col-lg-12 no-padding" ng-show="sqdModal.commentsSwitch">
						<label>
							<input type="checkbox" ng-model="sqdModal.commentRequired" ng-click="sqdModal.setCommentsRequired('req')"><span class="custom-label" > Set Required</span>
						</label>
						<label>
							<input type="checkbox" ng-model="sqdModal.undesiredReq"  ng-click="sqdModal.setCommentsRequired('undes')" ng-disabled="sqdModal.commentRequired"><span class="custom-label"> Set Required for Undesired Response</span>
						</label>
					</div>
				</div>
				<div class="col-lg-6 no-padding" >
					<div class="col-lg-12 no-padding" ng-show="sqdModal.imageSwitch">
						<label class="custom-label">Max.Photos</label><br/>
						<button class="btn-arrow" ng-click="sqdModal.updateImageCount('down')"> 
							<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> 
						</button>
						<span class="marginright10 marginleft10">{{sqdModal.imageCount}}</span>
						<button class="btn-arrow" ng-click="sqdModal.updateImageCount('up')"> 
							<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span> 
						</button>
						
					</div>
					<div class="col-lg-12 no-padding" ng-show="sqdModal.imageSwitch">
						<label>
							<input type="checkbox" ng-model="sqdModal.imageRequired" ng-click="sqdModal.setImageRequired('req')"><span class="custom-label"> Set Required</span>
						</label>
						<label>
							<input type="checkbox" ng-model="sqdModal.undesiredImgReq" ng-click="sqdModal.setImageRequired('undes')" ng-disabled="sqdModal.imageRequired"><span class="custom-label"> Set Required for Undesired Response</span>
						</label>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-lg-12 text-right">
		<button class="btn-back" type="button" ng-click="sqdModal.bck()">Back</button>
		<button class="main-btn-green" type="button" ng-click="sqdModal.ok()">Save</button>
    </div>
</div>

  	<script type="text/ng-template" id="changesWarning.html">
        <div class="modal-body col-lg-12 margintop22 text-center">
        	<p>Are you sure you want to close without adding a question</p>
        </div>	
        <div class="modal-footer">
        	<div class="col-lg-12 text-right">
				<button class="main-btn-green" type="button" ng-click="scwModal.ok()">OK</button>
            	<button class="main-btn-grey btn btn-primary" type="button" ng-click="scwModal.cancel()">Cancel</button>
        	</div>
        </div>
    </script>
    
     	<script type="text/ng-template" id="bckWarning.html">
        <div class="modal-body col-lg-12 margintop22 text-center">
        	<p>Are you sure you want to go back? All work will be lost.</p>
        </div>	
        <div class="modal-footer">
        	<div class="col-lg-12 text-right">
				<button class="main-btn-green" type="button" ng-click="sbwModal.ok()">OK</button>
            	<button class="main-btn-grey btn btn-primary" type="button" ng-click="sbwModal.cancel()">Cancel</button>
        	</div>
        </div>
    </script>
