<div class="col-lg-12 no-padding margintop50 ae-survey-wrapper ng-scope" ng-controller="AddSurveyGroupsCtrlCtrl as addSurveyGroup">
<div class="erorOrMessage" ng-show="addSurveyGroup.showMessage">{{errors.SurveyOK}}</div>
	<div class="col-lg-9 no-padding">
	
	<div class="col-lg-12 survey-info-box" >	
		<div class="custom-breadcrumbs">
			<span class="click" ng-click="addSurveyGroup.gotoSurveyGroup()">Surveys</span> 
			<img src="/images/ic_arrow@2x.png"> 
			<span>{{addSurveyGroup.auditGroupDef.Name}}</span>
		</div>
		<!-- survey detials -->
		<div class="col-lg-12">
			<button type="button" class='float-right' ng-class="addSurveyGroup.isSaveDisabled?'btn-deactive':'main-btn-green'" ng-disabled="addSurveyGroup.isSaveDisabled" ng-click="addSurveyGroup.saveSurGroup()">Save</button>
		</div>
		
		<div class="col-lg-12 no-padding survey-detail" ng-show="!addSurveyGroup.editSurvey">
			<div class="col-lg-5 no-padding survey-detail-box">
				<p class="heading">{{addSurveyGroup.auditGroupDef.Name}} <span ng-if="addSurveyGroup.auditGroupDef.Name==''" class="span-txt">Enter Survey Group</span><img src="/images/ic_edit@2x.png" ng-click="addSurveyGroup.editSurvey=true"></p>
			</div>
			<div class="col-lg-3">
				<p>{{addSurveyGroup.auditGroupDef.Audits.length}} Surveys</p><p>Last Modified : {{addSurveyGroup.auditGroupDef.TouchInfo.ModifiedDate | amDateFormat:'MM/DD/YY'}}</p>		
			</div>
		</div>
		<!-- survey edit section -->
		<div class="col-lg-12 no-padding survey-detail" ng-show="addSurveyGroup.editSurvey">
			<div class="col-lg-5 no-padding survey-detail-box">
			<div class="col-lg-10">
				<p>
					<span>
						<input type="text" placeholder="Group Name" ng-model ="addSurveyGroup.auditGroupDef.Name" class="form-control" ng-change="addSurveyGroup.updateModel()">
					</span>
				</p>
				</div>
				<div class="col-lg-1">
			<button type="submit" class="btn btn-primary" ng-click="addSurveyGroup.editSurvey=false"><span class="glyphicon glyphicon-ok"></span></button>
			</div>	
				
			</div>
			
			<div class="col-lg-3">
				<p>{{addSurveyGroup.auditGroupDef.Audits.length}} Surveys</p><p>Last Modified : {{addSurveyGroup.auditGroupDef.TouchInfo.ModifiedDate | amDateFormat:'MM/DD/YY'}}</p>		
			</div>
		</div>		
	</div>

	<!-- survey listings -->
		
		<div class="col-lg-12 col-md-12 margintop50">
			<h3>Published</h3>
			<span ng-repeat="items in addSurveyGroup.auditGroupDef.Audits track by $index">
				<div class="no-padding survey-group-box" ng-show="items.Published != null">
					<div class="box-head clearfix">
						
						<div class="left">
							<h4>{{items.Name}}</h4>
							<span>{{items.SubTitle}}</span>
						</div>
						<div class="order-box right">
							<div class="left arrows-section">
								<div class="arrows">
									<img src="/images/ic_selector_up_gray@2x.png" alt="arrow up" style="vertical-align: bottom;" ng-hide="items.order >= addSurveyGroup.publishcount" ng-click="items.order=items.order+1" >
								</div>
								<div class="arrows">
									<img src="/images/ic_selector_down_gray@2x.png"  alt="arrow down" style="vertical-align: baseline;" ng-hide="items.order <= 1"  ng-click="items.order=items.order-1" >
								</div>
							</div>
							<div class="right order-number">
								<span>{{items.order}}.</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="box-body clearfix">
						<p>{{items.QuestionCount}} Questions</p>
						<p>Last Modified : {{items.LastModified  | amDateFormat:'MM/DD/YY'}}</p>
					</div>
					<div class="box-footer clearfix">
						<div class="menu-section text-right" menu-sibling>
							<img src="/images/ic_more_@2x.png" alt="more">
							<div class="gridOptions">
								<ul>
									<li ng-click="addSurveyGroup.editAudit(items.Id)">Edit</li>
									<li ng-click="addSurveyGroup.deleteAudit(items.Id)">Delete</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</span>
		</div>
		<div class="col-lg-12 col-md-12 margintop50">
			<h3>Un-Published</h3>

			<span ng-repeat="items in addSurveyGroup.auditGroupDef.Audits track by $index">
				<div class="no-padding survey-group-box"  ng-show="items.Published == null" >
					<div class="box-head clearfix">
						<div class="left">
							<h4>{{items.Name}}</h4>
							<span>{{items.SubTitle}}</span>
						</div>
						
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="box-body clearfix">
						<p>{{items.QuestionCount}} Questions</p>
						<p>Last Modified : {{items.LastModified  | amDateFormat:'MM/DD/YY'}}</p>
					</div>
					<div class="box-footer clearfix">
						<div class="menu-section text-right" menu-sibling>
							<img src="/images/ic_more_@2x.png" alt="more">
							<div class="gridOptions">
								<ul>
									<li ng-click="addSurveyGroup.editAudit(items.Id)">Edit</li>
									<li ng-click="addSurveyGroup.deleteAudit(items.Id)">Delete</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</span>

		</div>
	</div>
	<!-- side panel -->

	<div class="col-lg-3 no-padding add-survey-side-panel">
		<div class="col-lg-12 no-padding side-panel-head">
			<div class="col-lg-12 margintop20">
				<p>Select the surveys you want to add to this survey group.</p>
			</div>
			<div class="col-lg-12 margintop37">
				<p class="heading">Available Surveys</p>
			</div>
			<div class="col-lg-12 text-center margintop20 search-box">
				<input type="text" placeholder="search" class="txt-search" ng-model="query">
			</div>
		</div>
		<div ng-slimscroll  height="450" color="#FFFFFF" distance="5px">
			<div class="col-lg-12 no-padding side-panel-body">
				
				<div class="col-lg-12 survey-group-item" ng-hide="items.showInList == false" ng-repeat="items in addSurveyGroup.getAllAudits | filter:query:strict | orderBy : items.Name">
					<div class="col-lg-1">
						<input type="checkbox" ng-model="items.checked" ng-click="addSurveyGroup.isChecked()" class="">
					</div>
					<div class="col-lg-10">
						<p class="heading">{{items.Name}}</p>
						<p>{{items.SubTitle}}
						<p>Last modified: {{items.TouchInfo.ModifiedDate  | amDateFormat:'DD/MM/YY'}}</p>
					</div>
				</div>
				
			</div>
		</div>
		<div class="col-lg-12 side-panel-footer text-center">
			<button ng-class="addSurveyGroup.isAuditSelected?'main-btn-green':'btn-deactive'" ng-disabled="!addSurveyGroup.isAuditSelected" ng-click="addSurveyGroup.updateSurveyGroup()">Add Surveys</button>
		</div>
	</div>
</div>

 	<script type="text/ng-template" id="delWarning.html">
        <div class="modal-body col-lg-12 margintop22 text-center">
        	<p>Are you sure you want to remove the survey from the survey group?</p>
        </div>	
        <div class="modal-footer">
        	<div class="col-lg-12 text-right">
				<button class="main-btn-green" type="button" ng-click="dwModal.ok()">OK</button>
            	<button class="main-btn-grey btn btn-primary" type="button" ng-click="dwModal.cancel()">Cancel</button>
        	</div>
        </div>
    </script>