<div class="col-lg-12 col-md-12 home no-padding">
	<header class="clearfix" ng-controller="headerCtrl as head">
		<div class="col-lg-2 col-md-12">
			<img src="/images/img_logo_nav@2x.png" alt="logo">
		</div>
		<div class="col-lg-2 col-md-2 col-lg-offset-8">
			<div class="col-lg-6 col-md-6 text-right wheel-menu-div">
				<img src="/images/ic_settings@2x.png" alt="settings">
				<div class="wheel-menu">
					<div class="arrow-up"></div>
					<ul>
						<li>Contact Support</li>
						<li>Submit Feedback</li>
						<li ng-click="head.getProfile()">Profile</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 logout">
				Logout 
			</div>
		</div>		
	</header>

	<nav class="clearfix text-right">
		<ul>
			<li>Question and Surveys
				<div class="sub-menu" set-width> 
					<ul>
						<li>Survey Groups</li>
						<div class="border-div"></div>
						<li>Surveys</li>
						<div class="border-div"></div>
						<li>Master Questions</li>
					</ul>
				</div>
			</li>
			<li>User Groups</li>
			<li>Subject Groups</li>
		</ul>
	</nav>
</div>