<div class="col-lg-12 col-md-12 home no-padding" ng-controller="headerCtrl as head">
	<header class="clearfix">
		<div class="col-lg-10 col-md-10">
			<img src="/images/img_logo_nav@2x.png"  alt="logo" ng-click="head.navigate('home')">
		</div>
		<div class="col-lg-2 col-md-2 col-lg-offset-8">
			<div class="col-lg-6 col-md-6 text-right wheel-menu-div">
				<img src="/images/ic_settings@2x.png" alt="settings">
				<div class="wheel-menu">
					<div class="arrow-up"></div>
					<ul>
						<li>Contact Support</li>
						<li>Submit Feedback</li>
						<li ng-click="head.getProfile()">Profile</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 logout" ng-click="head.logout()">
				Logout 
			</div>
		</div>		
	</header>

	<nav class="clearfix text-right">
		<ul>
			<li ng-click="head.expandQuesMenu = !head.expandQuesMenu">Question and Surveys
				<div class="sub-menu" set-width ng-show="head.expandQuesMenu"> 
					<ul>
						<li ng-click="head.navigate('surveyGroups')">Survey Groups</li>
						<div class="border-div"></div>
						<li ng-click="head.navigate('survey')">Surveys</li>
						<div class="border-div"></div>
						<li ng-click="head.navigate('masterQuestion')">Master Questions</li>
					</ul>
				</div>
			</li>
			<li ng-click="head.navigate('userGroups')">User Groups</li>
			<li ng-click="head.navigate('subjectGroup')">Subject Groups</li>
		</ul>
	</nav>
	<script type="text/ng-template" id="logoutConfirmation.html">
        <div class="modal-body col-lg-12 margintop22 text-center">
        	<p>Are you sure you want to logout ?</p>
        </div>	
        <div class="modal-footer">
        	<div class="col-lg-12 text-right">
				<button class="main-btn-green" type="button" ng-click="lcModal.ok()">OK</button>
            	<button class="main-btn-grey btn btn-primary" type="button" ng-click="lcModal.cancel()">Cancel</button>
        	</div>
        </div>
    </script>
</div>