<div class="login-page" ng-controller="LoginCtrl">
	<div class="child-vertical-center">
		<div class="col-lg-6 col-md-6 logo-area">
			<div class="col-lg-12">
				<img src="../images/img_logo_login@2x.png" alt="LOGO">
				<p class="slogan">
					The easiest and most accurate way to audit anything in your enterprise.
				</p>
			</div>
		</div>
		<form>
			<div class="col-lg-6 col-md-6 text-center login-form">
				<div class="login-box clearfix">
					<div class="col-lg-12 text-left">
						<h4>Log in to your account</h4>
					</div>
					<div class="col-lg-12">
						<input type="text" class="login-txt" ng-model="username" placeholder="Username">
					</div>
					<div class="col-lg-12">
						<input type="text" class="login-txt" ng-model="password" placeholder="Password">
					</div>
					<div class="col-lg-12">
						<input type="text" class="login-txt" placeholder="Customer ID">
					</div>
					<div class="col-lg-12 text-left forgot-password">
						<span>
							<a href="javascript:void(0)">Forgot Password?</a>
						</span>
					</div>
					<div class="col-lg-12 ">
						<input type="button" class="login-btn-inactive" ng-click="login()" value="Login">
					</div>
					<div class="col-lg-12 remember-me text-left">
						<span><input type="checkbox" name="rememberchk"></span>
						<span>Remember me</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>