<div class="main-content col-lg-12" ng-controller="MasterQuestion as mq" >
	
	<div class="col-lg-12 col-md-12 no-padding">
		<div class="col-lg-6 col-md-6 no-padding">
			<h2>Master Questions</h2>
			<div class="col-lg-12 col-md-12 no-padding margintop22">
				<input type="text" placeholder="search" class="txt-search" ng-model="query">
			</div>
		</div>
		<div class="col-lg-6 col-md-6 no-padding text-right">
			<button class="main-btn-green" ng-click= "mq.addEditMasterQuestion(null,'ADD')">Add New</button>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 no-padding margintop37">
		<div class="col-lg-12 col-md-12 no-padding grid-header marginbottom10">
			<div class="col-lg-7 col-md-7 col-sm-7 text-left" ng-click="mq.order('Text')">
				<span><b>Question</b></span>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 text-center" ng-click="mq.order('TypeKey')">
				<span>Type</span>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center" ng-click="mq.order('ModifiedDate')">
				<span>Last modified</span>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
				
			</div>
		</div>
		<div class="col-lg-12 col-md-12 no-padding grid-body-masterquestion marginbottom10">
			<div class="col-lg-12 col-md-12 no-padding question" ng-repeat="item in mq.data.Data | filter:{Text: query} | filter: {Status: '!Deleted'} | orderBy:mq.predicate:mq.reverse">
				<div class="col-lg-12 master-question-row">
					<div class="col-lg-7 col-md-7 col-sm-7 text-left question-text">
						<span>{{item.Text}}</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 text-center">
						<span>{{item.TypeKey}}</span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 text-center">
						<span>{{item.TouchInfo.ModifiedDate | amDateFormat:'MM DD YY, hh:mm A'}}</span>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1 text-center" menu-sibling>
						<img src="/images/ic_more_@2x.png" alt="more">
						<div class="gridOptions">
							<ul>
								<li ng-click= "mq.addEditMasterQuestion(item,'EDIT')">Edit</li>
								<li ng-click="mq.deleteMasterQuestion(item.Id)">Delete</li>
							</ul>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<script type="text/ng-template" id="addEditMasterQuestion.html">
		<div class="col-lg-12">
			<img src="/images/ic_close_@2x.png" ng-click="(!qmModal.disableSaveBtn && qmModal.action==='EDIT')?qmModal.showWarning():qmModal.cancel()" class="close-btn">
		</div>
        <div class="modal-header">
            <h3 class="modal-title">{{qmModal.subject}}</h3>
        </div>
        <div class="modal-body col-lg-12">
          	<h3 class="sub-heading">Master Question</h3>
			<textarea placeholder="Enter master question" ng-model="qmModal.masterQuestionModel.Text" ng-change="qmModal.updateModel()"></textarea>
			<p ng-show="qmModal.isInSurvey">This master question has been added to at least one survey. The question type cannot be modified.</p>
			<h3 class="sub-heading">Question Type</h3>
 			<select selectpicker ng-model="qmModal.masterQuestionModel.TypeKey" ng-change="qmModal.updateModel()" ng-disabled="qmModal.isInSurvey">
            	<option value="">Select</option>
				<option ng-repeat="option in qmModal.questionTypes.Data" value="{{option.Key}}">{{option.Name}}</option>
            </select>
			<div ng-show="qmModal.masterQuestionModel.TypeKey == 'single' || qmModal.masterQuestionModel.TypeKey == 'multiple'">
			<h3 class="sub-heading">Enter Options</h3>
			<div class="col-lg-12 options" ng-repeat="item in qmModal.optionItems">
				<div class="col-lg-2">
					<input type="number" ng-model="item.id" class="id" max="{{qmModal.optionItems.length}}" min="1" ng-change="qmModal.updateModel()" ng-disabled="qmModal.isInSurvey">
				</div>
				<div class="col-lg-4">
					<span>Label</span>
					<input type="text" placeholder="Enter Subject" ng-model="item.label" ng-change="qmModal.updateModel()" ng-disabled="qmModal.isInSurvey">
				</div>
				<div class="col-lg-4">
					<span>Value</span>
					<input type="text" placeholder="Enter Subject" ng-model="item.value" ng-change="qmModal.updateModel()" ng-disabled="qmModal.isInSurvey">
				</div>
				<div class="col-lg-2">
					<a ng-click="qmModal.isInSurvey?'':qmModal.optionItems.splice($index,1);qmModal.updateModel()">Remove</a>
				</div>
			</div>
			<a ng-click="qmModal.addOption()">Add Option</a>
			</div>
			</div>
        </div>
        <div class="modal-footer">
            <button  type="button" ng-class="qmModal.disableSaveBtn? 'btn-deactive':'main-btn-green'" ng-disabled="qmModal.disableSaveBtn" ng-click="qmModal.ok()">Save</button>
        </div>
    </script>
    <script type="text/ng-template" id="deleteMasterQuestion.html">
        <div class="modal-body col-lg-12 margintop22">
        	<p>Are you sure you want to delete the master question? The master question will not be available to use in new audits.</p>
        </div>	
        <div class="modal-footer">
        	<div class="col-lg-12 text-right">
				<button class="main-btn-green" type="button" ng-click="qmModal.ok()">OK</button>
            	<button class="main-btn-grey btn btn-primary" type="button" ng-click="qmModal.cancel()">Cancel</button>
        	</div>
        </div>

    </script>
    	<script type="text/ng-template" id="changesWarning.html">
        <div class="modal-body col-lg-12 margintop22 text-center">
        	<p>Are you sure you want to close editing? All changes will be lost</p>
        </div>	
        <div class="modal-footer">
        	<div class="col-lg-12 text-right">
				<button class="main-btn-green" type="button" ng-click="cwModal.ok()">OK</button>
            	<button class="main-btn-grey btn btn-primary" type="button" ng-click="cwModal.cancel()">Cancel</button>
        	</div>
        </div>
    </script>
</div>