<div class="main-content col-lg-12" ng-controller="MasterQuestion as mq" >
	
	<div class="col-lg-12 col-md-12 no-padding">
		<div class="col-lg-6 col-md-6 no-padding">
			<h2>Master Questions</h2>
			<div class="col-lg-12 col-md-12 no-padding margintop22">
				<input type="text" placeholder="search" class="txt-search" ng-model="query.Text">
			</div>
		</div>
		<div class="col-lg-6 col-md-6 no-padding text-right">
			<button class="main-btn-green">Add New</button>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 no-padding margintop37">
		<div class="col-lg-12 col-md-12 no-padding grid-header marginbottom10">
			<div class="col-lg-7 col-md-7 col-sm-7 text-left">
				<span><b>Question</b></span>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<span>Type</span>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<span>Last modified</span>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
				
			</div>
		</div>

		<div class="col-lg-12 col-md-12 no-padding grid-body-masterquestion marginbottom10">
			
			<div class="col-lg-12 col-md-12 no-padding question" ng-repeat="item in mq.data.Data | filter:query">

				<div class="col-lg-7 col-md-7 col-sm-7 text-left question-text">
					<span>{{item.Text}}</span>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 text-center">
					<span>{{item.TypeKey}}</span>
				</div>

				<div class="col-lg-2 col-md-2 col-sm-2 text-center">
					<span>{{item.TouchInfo.ModifiedDate}}</span>
				</div>

				<div class="col-lg-1 col-md-1 col-sm-1 text-center">
					<img src="/images/ic_more_@2x.png" alt="more">
					<div class="gridOptions">
						<ul>
							<li>Edit</li>
							<li>Delete</li>
						</ul>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>