<div class="main-content col-lg-12" ng-controller="appSettingCtrl as appset">
	
	<div class="col-lg-12 col-md-12 no-padding">
		<div class="col-lg-6 col-md-6 no-padding">
			<h2>General App Setting</h2>
			<div class="col-lg-12 col-md-12 no-padding margintop22">
				<input type="text" placeholder="search" class="txt-search">
			</div>
		</div>
		<div class="col-lg-6 col-md-6 no-padding text-right">
			<button class="main-btn-green">Add New</button>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 no-padding margintop37">
		<div class="col-lg-12 col-md-12 no-padding grid-header">
			<div class="col-lg-7 col-md-7 col-sm-7 text-left">
				<span>Question</span>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<span>Type</span>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<span>Last modified</span>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
				
			</div>
		</div>

		<div class="col-lg-12 col-md-12 no-padding grid-body">
			<div class="col-lg-7 col-md-7 col-sm-7 text-left question-text">
				<span>Question</span>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<span>Type</span>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center">
				<span>Last modified</span>
			</div>

			<div class="col-lg-1 col-md-1 col-sm-1 text-center">
				
			</div>
		</div>
	</div>
</div>