<div class="col-lg-12 subgroup-settings-wrapper">
	<div class="subgroup-settings-info-box col-lg-12">
	<div class="custom-breadcrumbs">
		<span>Subject Groups</span> 
		<img src="/images/ic_arrow@2x.png"> 
		<span>Employees</span>
	</div>
	<div class="col-lg-12">
			<button type="button" class="float-right main-btn-green"  >Save</button>
	</div>
	<div class="col-lg-12 no-padding subgroup-settings-detail">
			<div class="col-lg-5 no-padding subgroup-settings-box">
				<p class="heading">Employees</p>
			</div>
			<div class="col-lg-3">
				<p>30 Employees</p><p>Last Modified : {{usrPermission.userPermissions.TouchInfo.ModifiedDate | amDateFormat:'MM/DD/YY'}}</p>		
			</div>
		</div>
		<ul class="nav nav-tabs" tab-class>
  			<li class="active tab-active"><a id="GS" ng-click="">Settings</a></li>
  			<li><a id="GV" ng-click="">View</a></li>
		</ul>
	</div>
	<!-- SUbject Group Settings -->
	<div class="col-lg-12">
		<div class="col-lg-12 margintop50">
		<p class="heading">Configure Photo</p>
		<label>
			<input type="checkbox"> <span class="custom-label" >Show Subject Photo</span>
		</label>
		</div>
		<div class="col-lg-12 margintop50">
		<p class="heading">Search Settings</p>
		<div class="col-lg-3 no-padding">
			<p class="label-light">Local</p>
			<input type="text" placeholder="Enter Label" class="local-input">
		</div>
		<div class="col-lg-3">
			<p class="label-light">All</p>
			<input type="text" placeholder="Enter Label" class="local-input">
		</div>
		</div>
		<div class="col-lg-12 margintop50">
		<p class="heading">Subject Attributes</p>
		<p>Select subject attributes that displays in the subject list:</p>
			<div class="col-lg-12 no-padding">
				<div class="col-lg-4 no-padding margintop20">
				</div>
				<div class="col-lg-3 margintop20">
				<p class="label-light">Include in sort Option</p>
				</div>
				<div class="col-lg-3 margintop20">
				<p class="label-light">Select options for default</p>
				</div>
			</div>
			<div class="col-lg-12 no-padding">
				<div class="col-lg-5 no-padding margintop20">
				<select selectpicker >
            		<option value="">Select</option>
            	</select>
				</div>
				<div class="col-lg-3 no-padding margintop20">
				<label>
					<input type="checkbox"> 
				</label>
				</div>
				<div class="col-lg-3 no-padding margintop20">
				<label>
					<input type="checkbox">
				</label>
				</div>
			</div>
				<div class="col-lg-12 no-padding">
				<div class="col-lg-5 no-padding margintop20">
				<select selectpicker >
            		<option value="">Select</option>
            	</select>
				</div>
				<div class="col-lg-3 no-padding margintop20">
				<label>
					<input type="checkbox"> <span class="custom-label" >
				</label>
				</div>
				<div class="col-lg-3 no-padding margintop20">
				<label>
					<input type="checkbox"> <span class="custom-label" >
				</label>
				</div>
			</div>
				<div class="col-lg-12 no-padding">
				<div class="col-lg-5 no-padding margintop20">
				<select selectpicker >
            		<option value="">Select</option>
            	</select>
				</div>
				<div class="col-lg-3 no-padding margintop20">
				<label>
					<input type="checkbox"> <span class="custom-label" >
				</label>
				</div>
				<div class="col-lg-3 no-padding margintop20">
				<label>
					<input type="checkbox"> <span class="custom-label" >
				</label>
				</div>
			</div>
				<div class="col-lg-12 no-padding">
				<div class="col-lg-5 no-padding margintop20">
				<select selectpicker >
            		<option value="">Select</option>
            	</select>
				</div>
				<div class="col-lg-3 no-padding margintop20">
				<label>
					<input type="checkbox"> <span class="custom-label" >
				</label>
				</div>
				<div class="col-lg-3 no-padding margintop20">
				<label>
					<input type="checkbox"> <span class="custom-label" >
				</label>
				</div>
			</div>
			
		</div>
	
	</div>
</div>
	