<div class="col-lg-12 subgroup-settings-wrapper" ng-controller="SubjectGroupSettingsCtrl as subgrp">
<div class="erorOrMessage" ng-show="subgrp.showMessage">{{errors.SubjectGroupOK}}</div>
	<div class="subgroup-settings-info-box col-lg-12">
	<div class="custom-breadcrumbs">
		<span>Subject Groups</span> 
		<img src="/images/ic_arrow@2x.png"> 
		<span>{{subgrp.subgrpSettings.Name}}</span>
	</div>
	<div class="col-lg-12">
			<button type="button" class="float-right" ng-class="subgrp.disableSave?'btn-deactive':'main-btn-green'"  ng-click="subgrp.saveSubGrpSetting()" ng-disabled="subgrp.disableSave">Save</button>
	</div>
	<div class="col-lg-12 no-padding subgroup-settings-detail">
			<div class="col-lg-5 no-padding">
				<p class="heading">{{subgrp.subgrpSettings.Name}}</p>
			</div>
			<div class="col-lg-3 subgroup-settings-box">
				<p>{{subgrp.subgrpSettings.SubjectCount}} {{subgrp.subgrpSettings.Name}}</p><p>Last Modified : {{subgrp.subgrpSettings.TouchInfo.ModifiedDate | amDateFormat:'MM/DD/YY'}}</p>		
			</div>
		</div>
		<ul class="nav nav-tabs" tab-class>
  			<li class="active tab-active"><a id="GS" ng-click="subgrp.selectedTab = 'GS'">Settings</a></li>
  			<li><a id="GV" ng-click="subgrp.selectedTab = 'GV'">View</a></li>
		</ul>
	</div>
	<!-- SUbject Group Settings -->
	<div class="col-lg-12" ng-show="subgrp.selectedTab == 'GS'">
		<div class="col-lg-12 margintop50" ng-show="subgrp.subgrpSettings.AllowImages">
		<p class="heading">Configure Photo</p>
		<label>
			<input type="checkbox"> <span class="custom-label" ng-model="subgrp.subgrpSettings.ShowImageInListing" ng-change="subgrp.updateModel()">Show Subject Photo</span>
		</label>
		</div>
		<div class="col-lg-12 margintop50">
		<p class="heading">Search Settings</p>
		<div class="col-lg-3 no-padding">
			<p class="label-light">Local</p>
			<input type="text" placeholder="Enter Label" class="local-input" ng-model="subgrp.subgrpSettings.SearchLabelLocal" ng-change="subgrp.updateModel()">
		</div>
		<div class="col-lg-3">
			<p class="label-light">All</p>
			<input type="text" placeholder="Enter Label" class="local-input" ng-model="subgrp.subgrpSettings.SearchLabelLocal" ng-change="subgrp.updateModel()">
		</div>
		</div>
		<div class="col-lg-12 margintop50">
		<p class="heading">Subject Attributes</p>
		<p>Select subject attributes that displays in the subject list:</p>
			<div class="col-lg-12 no-padding">
				<div class="col-lg-4 no-padding margintop20">
				</div>
				<div class="col-lg-3 margintop20">
				<p class="label-light">Include in sort Option</p>
				</div>
				<div class="col-lg-3 margintop20">
				<p class="label-light">Select options for default</p>
				</div>
			</div>
			<div class="col-lg-12 no-padding"  ng-repeat = "item in subgrp.subjectAttList track by $index">
				<div class="col-lg-5 no-padding margintop20">
				<div class="col-lg-9 selectdiv">
				<div class="col-lg-2 no-padding">
						<div class="order-box">
							<div class="left arrows-section">
								<div class="arrows">
									<img src="/images/ic_selector_up_gray@2x.png" alt="arrow up" style="vertical-align: bottom;" ng-click="item.order=item.order<subgrp.subjectAttList.length?item.order+1:item.order; subgrp.updateModel()">
								</div>
								<div class="arrows">
									<img src="/images/ic_selector_down_gray@2x.png" alt="arrow down" style="vertical-align: baseline;" ng-click="item.order=item.order>1?item.order-1:item.order; subgrp.updateModel()">
								</div>
							</div>
							<div class="right order-number">
								<span>{{item.order}}.</span>
							</div>
						</div>
						</div>
						<div class="col-lg-10 no-padding">
						<select ng-model="item.key">
					<option value=""></option>
            		<option ng-repeat="option in subgrp.subgrpSettings.ListAttributes" value="{{option.Key}}">{{option.Label}}</option>
            	</select>
				</div>
            	</div>
				</div>
				<div class="col-lg-3 no-padding margintop20">
				<label>
					<input type="checkbox" ng-model="item.sortOption" ng-change="subgrp.updateModel()"> 
				</label>
				</div>
				<div class="col-lg-3 no-padding margintop20">
				<label>
					<input type="checkbox" ng-model="item.isDefault" ng-click="subgrp.checkIsDefault($index,$event)" ng-disabled="!item.sortOption" ng-change="subgrp.updateModel()">
				</label>
				</div>
			</div>
		</div>
		<div class="col-lg-12 margintop50">
		<p class="heading">Subject Attributes</p>
		<p>Select subject attributes that display in the subject profile:</p>
			<div class="col-lg-12 no-padding margintop20" ng-repeat="item in subgrp.profileAttList">
				<div class="col-lg-2">
					<input type="text" placeholder="Enter Label" class="local-input" ng-model="item.key">
				</div>
				<div class="col-lg-4">
				<div class="col-lg-12 selectdiv">
				<div class="col-lg-2 no-padding">
						<div class="order-box">
							<div class="left arrows-section">
								<div class="arrows">
							<img src="/images/ic_selector_up_gray@2x.png" alt="arrow up" style="vertical-align: bottom;" ng-click="item.order=item.order<subgrp.profileAttList.length?item.order+1:item.order">
								</div>
								<div class="arrows">
									<img src="/images/ic_selector_down_gray@2x.png" alt="arrow down" style="vertical-align: baseline;" ng-click="item.order=item.order>1?item.order-1:item.order">
								</div>
							</div>
							<div class="right order-number">
								<span>{{item.order}}.</span>
							</div>
						</div>
						</div>
						<div class="col-lg-10 no-padding">
					<select ng-model="item.label">
					<option value=""></option>
            		<option ng-repeat="option in subgrp.subgrpSettings.ListAttributes" value="{{option.Key}}">{{option.Label}}</option>
            	</select>
				</div>
            	</div>
            	</div>
            	<div class="col-lg-6">
            	<div class="col-lg-2" ng-repeat="option in subgrp.types">
            	<label class="label-light">
            	{{option}}
            	</label>
            		<input type="radio" ng-model="item.type" ng-value="option">
            	</div>
            	</div>
			</div>
		</div>
	</div>
</div>
	